.toggleMenuStyle {
    display: block;
}

.toggleLoginStyle {
    display: block;
}
/* setting the height of navbar */
.navbar-nav>li>a,
.navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 0 !important;
    height: 32px;
}

.navbar {
    min-height: 32px !important;
}

/* for working on mobile toggle button */
.navbar-toggle {
    padding: 0 0;
    margin-top: 7px;
    margin-bottom: 0;
}
