<br />

<h5>Add New</h5>  <br />

<form class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Saurav Kumar" #name>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="Ex. saurav97531@gmail.com" #email>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>DOB</mat-label>
    <input matInput type="date" #dob>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Medicine</mat-label>
    <input matInput placeholder="Ex. Lexapro" #medicine>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Country</mat-label>
    <input matInput placeholder="Ex. India" #country>
  </mat-form-field>

  <div style="margin-left: 40%;">

    <button style='margin-right:2px' class="btn btn-secondary btn-sm" (click)="goBack()">Back</button>

    <button type="submit" class="btn btn-primary btn-sm" (click)="add(name.value,email.value,dob.value,medicine.value,country.value);">Submit</button>

  </div>

</form>
