<br>

<h5>{{customer.name}} Details</h5>  <br />

<div *ngIf="customer" class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Saurav Kumar" [(ngModel)]="customer.name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="Ex. saurav97531@gmail.com" [(ngModel)]="customer.email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>DOB</mat-label>
    <input matInput placeholder="Ex. 1997-02-02" [(ngModel)]="customer.dob">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Medicine</mat-label>
    <input matInput placeholder="Ex. Lexapro" [(ngModel)]="customer.medicine">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Country</mat-label>
    <input matInput placeholder="Ex. India" [(ngModel)]="customer.country">
  </mat-form-field>

  <div style="margin-left: 40%;">

    <button style='margin-right:2px' class="btn btn-secondary btn-sm" (click)="goBack()">Back</button>

    <button type="submit" class="btn btn-primary btn-sm" (click)="save()">Update</button>

  </div>

</div>
